html {
    margin: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    border: solid black 2px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#grey {
    background-color: grey;
}
#aqua {
    background-color: aqua;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
#orange {
    background-color: orange;
}
#purple {
    background-color: purple;
}